.container{
    max-width: 300px;
}

div button{
    margin-right: 5px !important;
}

p img{
    max-width: 300px;
    border-radius: 5px;
}

.description{
    word-wrap: break-word;
}

hr{
    border: 1px solid #f5f5f5 !important;
}